* {
	font-family: 'Roboto', sans-serif;
}
html, body {

	font-size: 20px;
	
}

section#demo {
	background: #eec00ae0;
	background-image: url("backround.jpg");
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	
	background: rgba(64, 224, 208, 0.555);
    box-shadow: 13px 13px 28px 2px relative(0, 0, 0, 0.035);
    padding: 7px 15px;
}